/* first section */
#home .first-section {
    min-height: 100vh;
    width: 100%;
}
#home .first-section #text {
    animation: text-slide-in 500ms ease-in-out;
}
@keyframes text-slide-in {
    0% { transform: translateY(-100px); opacity: .25; }
    100% { transform: translateY(0px); opacity: 1}
}
#home .first-section {
    position: relative;
}
#home .first-section div {
    position: absolute;
    color: var(--white);
    bottom: 20%;
    left: 0;
    padding: 0 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#home .first-section div p {
    width: 100%;
    max-width: 550px;
    font-size: x-large;
}
#home .first-section div h1 {
    font-size: 3rem;
    font-weight: 600;
}
#home .first-section div button {
    width: min-content;
    border: 2px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 9999px;
    padding: 0.3rem 1.5rem;
    transition-duration: 100ms;
}
#home .first-section div button:hover, #home .first-section div button:focus {
    background-color: var(--white);
    color: var(--dark);
}

@media (max-width: 1315px) {
    #home .first-section div {
        padding: 0 5rem;
        bottom: 15%;
    }
}
@media (max-width: 650px) {
    #home .first-section div {
        padding: 0 2rem;
        bottom: 20%;
    }
    #home .first-section div p {
        font-size: large;
    }
    #home .first-section div h1 {
        font-size: 2rem;
    }
}

/* blog card */
.blog-card {
    position: relative;
    width: 100%;
    max-width: 1100px;
    border: 1px solid var(--gray);
    display: flex;
}
.blog-card .image {
    max-height: 350px;
    object-fit: cover;
    cursor: pointer;
    transition-duration: 100ms;
}
.blog-card span {
    max-width: 350px inherit;
}
.blog-card .image:hover {
    filter: brightness(90%);
}
.blog-card .content {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.blog-card .content .info {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    color: var(--dark-gray);
}
.blog-card .content .title {
    font-size: xx-large;
}
.blog-card .content .description {
    color: var(--dark-gray);
}
.blog-card .content .tags {
    height: 100%;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    gap: .25rem;
    padding-right: 3rem;
}
.blog-card .content .tags p {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    font-size: small;
    padding: .25rem 1.25rem;
    border-radius: 9999px;
}

.blog-card-small {
    flex-direction: column !important;
    max-width: 350px !important;
}
.blog-card-small .image {
    width: 100% !important;
}
.blog-card-small .content .info {
    font-size: small !important;
}
.blog-card-small .content .title {
    font-size: large !important;
}
.blog-card-small .content .description {
    font-size: small !important;
}
.blog-card-small .content .tags p {
    font-size: x-small !important;
}
@media (max-width:750px) {
    .blog-card {
        flex-direction: column;
    }
    .blog-card .image {
        width: 100%;
    }
}

/* second section */
#home .second-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

#home .second-section .title {
    font-size: xx-large;
    font-weight: 600;
}
#home .second-section .small-cards {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
}
#home .second-section .small-cards button {
    position: absolute;
    bottom: -4rem;
    right: 3.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--gray);
    padding: .5rem 1rem;
    border-radius: 9999px;
    font-weight: 600;
    align-self: flex-end;
    transition-duration: 100ms;
}
#home .second-section .small-cards button:hover, #home .second-section .small-cards button:focus {
    background-color: var(--dark);
    color: var(--white);
}

#home .third-section {
    background-color: var(--dark);
    color: var(--white);
    padding: 4rem 0;
}
#home .third-section h1 {
    text-align: center;
    padding-bottom: 4rem;
    font-size: xx-large;
    font-weight: 600;
}
#home .third-section div {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}
#home .third-section figure {
    background-color: var(--white);
    border-radius: var(--radius);
    padding: .25rem;
}


@media (max-width:850px) {
    #home .second-section .small-cards {
        flex-direction: column;
        align-items: center;
    }
}

/* footer */
#home footer {
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}
#home footer pre {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
#home footer span {
    text-decoration: underline;
}

/* card row */
.card-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr .25fr 1.5fr;
    justify-content: space-between;
    border: 1px solid var(--gray);
    padding: .75rem;
    overflow: hidden;
}
.card-row h2, .card-row h3 {
    font-size: large;
    white-space: nowrap;
}
.card-row h3 {
    color: var(--dark-gray);
}
.card-row span {
    display: flex;
    justify-content: flex-end;
}
.card-row span p{
    background-color: var(--light-gray);
    color: var(--dark-gray);
    font-size: small;
    padding: .25rem 1.25rem;
    border-radius: 9999px;
    white-space: nowrap;
}


